* {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    box-sizing: border-box;
}


.nav {
    display: flex;
    justify-content: space-between;
    margin: 5% 15%;
    align-items: center;
}

.leftnav {
    display: flex;
    list-style: none;
}

.leftnav ul {
    margin: 0 10% 0 0;
    white-space: nowrap;

}

.leftnav ul:nth-child(5) {
    color: goldenrod;
    border: 1px solid goldenrod;
    padding: 8px 25px;
    margin-top: -8px;
    border-radius: 10px;
}

.heading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5% 15%;
    align-items: center;
}

.heading p:nth-child(1) {
    font-size: 80px;
}

.heading p:nth-child(2) {
    font-size: 22px;
    
}

.banner-image {
    margin: 5% 15%;
}
